* {
  box-sizing: border-box;
}

/* veriables */

:root {
  --primary-color: tomato;
  --secondary-color: black;
  --white: white;
}

body {
  font-family: "Roboto", sans-serif;
  /* font-family: "Noto Sans JP", sans-serif; */
  /* font-family: "Itim", cursive; */
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* header section style */

header {
  display: flex;
  justify-content: center;
  color: var(--secoundary-color);
  padding: 0 20px;
}

/* headaer logo */

header .logo {
  width: 50%;
  font-size: 18px;
  align-items: center;
  margin-left: 100px;
}

/* navigation style */

nav {
  width: 50%;
  margin-left: 50px;
  justify-content: center;
  font-size: 21px;
}

ul li {
  display: inline-block;
  transform-style: preserve-3d;
}

ul li a {
  color: black;
  display: block;
  position: relative;
}

ul li a span {
  display: block;
  padding: 0 20px;
}

ul li a span:before {
  content: attr(title);
  position: absolute;
  top: 0;
  left: 0;
  color: red;
  padding: 0 20px;
  transform-style: preserve-3d;
  transition: 0.2s;
  transform: rotateX(90deg) translateY(50px);
  transform-origin: bottom;
  background-color: white;
}

ul li a span:hover:before {
  transform: rotateX(0deg) translateY(0px);
}

ul li a span:after {
  content: attr();
  position: absolute;
  top: 0;
  left: 0;
  color: black;
  padding: 0 20px;
  transform-style: preserve-3d;
  transition: 0.2s ease;
  transform: rotateX(0deg) translateY(0px);
  transform-origin: bottom;
}

ul li a span:hover:after {
  transform: rotateX(90deg) translateY(-10px);
}

/* ---end header styling-- */

/* main styling */

main {
  display: flex;
  align-items: center;
  height: 90vh;
  width: 100%;
  justify-content: center;
}

.main_image {
  background-image: url(../images/mango.jpg);
  height: 377px;
  width: 803px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 50px;
}

h1.main_heading {
  font-weight: normal;
  font-size: 3rem;
  margin-left: 50px;
}

#head {
  animation: colorchange 2s infinite;
}

@keyframes colorchange {
  0% {
    color: rgb(255, 58, 23);
  }
  25% {
    color: rgb(219, 76, 76);
  }
  50% {
    color: tomato;
  }
  100% {
    color: red;
  }
}

.spinner {
  position: absolute;
  /* animation: spin 2s linear 2s infinite;
  will-change: transform; */
  width: 150px;
  height: 150px;
  left: -50px;
  animation: spin 6s linear infinite;
  z-index: 3;
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* main styling end */

/* about section styling */

.about-wrapper {
  display: flex;

  height: 400px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.left-wrapper {
  flex-basis: 40%;
  padding: 50px 0;
  justify-content: center;
  height: 100%;
}

.left-wrapper a {
  padding: 0 5px;
  color: black;
}
.left-wrapper a span {
  padding: 0 10px;
  font-size: 18px;
  color: black;
}
.left-wrapper a:hover span {
  transform: translateX(5px);
  transition: 2s;

  color: black;
}

.left-wrapper li a {
  padding: 0 10px;
  font-size: 20px;
}

.right-wrapper {
  flex-basis: 60%;
  height: 100%;
}

#social-links a {
  font-weight: bold;
  font-size: 20px;
}

#social-links a::after {
  padding: 0 20px;
  content: "";
}

.right-wrapper h3 {
  padding: 20px 80px;
  font-size: 25px;
  text-align: justify;
}

.right-wrapper p {
  padding: 20px 80px;
  text-align: justify;
}
